
.world
  background #800080

.left
  float left




#Florine
  width 50px
  height 50px
  background cyan


#score
  width 100%
  height 100px
  color orange
#ARENA
  width 552px
  height 552px
  left calc(50% - 500px)
  background red
  padding 2px
.SLOT
  transition-duration 0.2s
  float left
  width 40px
  height 40px
  background yellow
  margin 2px
  &:hover
    background orange


#flo
  position relative
  background url('/data/img/FLORINE.png') no-repeat
  width 50px
  height 50px

.fireball
  position absolute
  border-radius 100000px
  background url('/data/img/fireball.png') no-repeat
  width 50px
  height 50px

.mechant1
  position absolute
  border-radius 100000px
  background url('/data/img/mechant.png') no-repeat
  width 50px
  height 50px











